<h1>Members details</h1>
<b>Member loaded:</b><br> {{ selectedMember.name }} <br> {{ selectedMember.surname }} <br> {{ selectedMember.adress }} <br> {{ selectedMember.phone }}
<br>
<span class="image left">
  <img src="{{ selectedMember.photo }}" alt="Foto de {{selectedMember.name}}">
</span>
<br>
<br>

<div>
  <label>Name:</label>
  <input type="text" [(ngModel)]="selectedMember.name"><br>
  <label>Surname:</label>
  <input type="text" [(ngModel)]="selectedMember.surname"><br>
  <label>Adress:</label>
  <input type="text" [(ngModel)]="selectedMember.adress"><br>
  <label>Phone:</label>
  <input type="text" [(ngModel)]="selectedMember.phone"><br>
</div>

<button (click)="newMember()" class="button confirm">New Member</button>&nbsp;

<button (click)="update()" class="button primary">Update Member</button>&nbsp;

<button (click)="delete()"  class="button cancel">Delete Member</button>&nbsp;
